.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-embed-youtubevideo {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-position: 50%;
  background-size: cover;
  width: 100%;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

img {
  width: 100%;
  max-width: 100%;
  margin-top: 30px;
  display: inline-block;
}

.position-name-text {
  color: #0080ff;
  text-transform: none;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
}

.container {
  width: 100%;
  max-width: 1140px;
  height: 100%;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.heading-jumbo {
  color: #0080ff;
  text-transform: none;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 64px;
  line-height: 80px;
}

.paragraph-light {
  opacity: .6;
  color: #0080ff;
  text-decoration: none;
}

.paragraph-light:hover {
  color: #0080ff;
}

.paragraph-light.cc-position-name {
  margin-bottom: 5px;
}

.section {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  overflow: visible;
}

.project-overview-grid {
  grid-column-gap: 50px;
  grid-row-gap: 100px;
  grid-template: ". . . ."
                 ". . . ."
                 / 1fr 1fr 1fr 1fr;
  margin-top: 120px;
  margin-bottom: 38px;
}

.menu {
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  width: auto;
  height: auto;
  padding: 30px;
  display: flex;
  position: static;
  inset: 0% auto 0% 0%;
}

.bodytext {
  color: #00f;
  overflow-wrap: break-word;
  border: 0 #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  text-decoration: none;
}

.bodytext._01 {
  margin-bottom: 30px;
}

.bodytext.top {
  margin-top: 30px;
}

.bodytext.play {
  margin-top: 0;
  position: static;
  inset: 0% auto auto 0%;
}

.inside {
  border: 1px #000;
  width: 100%;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  display: none;
}

.inside._01 {
  border: 1px #000;
  border-top-width: 0;
  border-left: 1px solid #00f;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 30px;
  display: block;
}

.inside._01.slider {
  height: auto;
  margin-bottom: 0;
  padding: 0;
}

.body {
  display: flex;
}

.div-block {
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  margin-bottom: 0;
  padding-bottom: 30px;
  display: flex;
}

.div-block.playground {
  z-index: 10;
  justify-content: space-between;
  align-items: flex-start;
  width: auto;
  height: auto;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  display: block;
  position: sticky;
  inset: 0% 0% auto;
}

.div-block-2 {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  position: sticky;
  top: 30px;
}

.div-block-3 {
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-start;
  display: flex;
  position: sticky;
  bottom: 30px;
}

.link-block {
  text-decoration: none;
}

.link-block.w--current:hover {
  border-bottom: 1px solid #00f;
}

.link-block-2, .link-block-3, .link-block-4 {
  text-decoration: none;
}

.link-block-5 {
  text-decoration: none;
  display: block;
}

.div-block-4 {
  position: static;
  bottom: 30px;
}

.image {
  margin-top: 30px;
}

.slider {
  background-color: #fff0;
  height: auto;
  margin-bottom: 0;
  padding-left: 30px;
  padding-right: 30px;
  display: block;
}

.icon {
  background-color: #00f;
  border-radius: 20px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 30px;
  position: absolute;
}

.icon-2 {
  background-color: #00f;
  border-radius: 20px;
  font-size: 30px;
}

.left-arrow {
  z-index: 15;
  box-sizing: border-box;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  display: flex;
  position: absolute;
  inset: 0% auto auto 0%;
  overflow: hidden;
}

.right-arrow {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: flex-end;
  align-items: center;
  margin-right: 0;
  padding-right: 10px;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}

.text-block {
  color: #00f;
  background-color: #fff0;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.slide-nav {
  color: #00f;
  font-family: Montserrat, sans-serif;
}

.slide {
  aspect-ratio: auto;
  object-fit: none;
  height: 100%;
  margin-top: 0;
  overflow: auto;
}

.slide-2 {
  height: 100%;
  padding-top: 0;
  position: static;
}

.div-block-5 {
  background-image: url('../images/1440.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 200px;
  margin-top: 30px;
}

.div-block-6 {
  margin-top: auto;
  margin-bottom: 0;
  position: static;
  inset: auto 0% 30px;
}

.detail-image {
  width: 100vw;
  margin-top: 30px;
  margin-bottom: 30px;
}

.image-12, .image-13 {
  margin-bottom: 30px;
}

.text-block-5 {
  color: #00f;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
}

.project-description-grid {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  border-radius: 0;
  grid-template: ". Area"
                 ". ."
                 / 1fr 1fr 1fr;
  grid-auto-flow: row;
  margin-top: 30px;
  margin-bottom: 30px;
}

.project-description-grid.three {
  grid-row-gap: 30px;
  grid-template-rows: auto auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.heading-2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: -60px;
  font-size: 30px;
}

.shadow {
  border-radius: 5px;
  transition: opacity .2s;
  box-shadow: 0 0 20px #0000000d;
}

.div-block-7, .div-block-8, .div-block-9 {
  display: block;
}

.image-14, .image-11 {
  margin-bottom: 30px;
}

.video {
  margin-top: 30px;
}

.detail-header-image {
  width: 100%;
  margin-top: 30px;
}

.image-15 {
  margin-bottom: 30px;
}

.image-15._10, .image-15._11, .image-15._12, .testing {
  width: 100%;
}

.image-17, .image-3 {
  width: 100%;
  margin-bottom: 30px;
}

.image-16 {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 0;
}

.image-33 {
  width: 100%;
}

.video-2 {
  margin-top: 30px;
}

.image-10 {
  width: 100vw;
  margin-top: 30px;
  margin-bottom: 0;
}

.image-34 {
  width: 100%;
  margin-top: 30px;
}

.image-6 {
  width: 100%;
  margin-top: 30px;
  margin-bottom: auto;
}

.image-7, .image-18 {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 0;
}

.image-35 {
  width: 100%;
  margin-top: 30px;
}

.image-8, .image-19, .image-36, .image-37 {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 0;
}

.interactive {
  width: 100vw;
  margin-top: 30px;
  display: block;
}

.interactive-grid {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  border-radius: 0;
  grid-template: ". Area"
                 ". ."
                 / 1fr 1fr 1fr;
  grid-auto-flow: row;
  margin-top: 30px;
  margin-bottom: 30px;
}

.link-block-6 {
  background-image: url('../images/image-14.jpg');
  background-position: 50%;
  background-size: cover;
}

.d-rendering {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  border-radius: 0;
  grid-template: ". Area"
                 ". ."
                 / 1fr 1fr 1fr;
  grid-auto-flow: row;
  margin-top: 120px;
  margin-bottom: 30px;
}

.link-block-7 {
  background-image: url('../images/image-4.jpg');
  background-position: 0%;
  background-size: cover;
}

.link-block-8 {
  background-image: url('../images/image-13.jpg');
  background-position: 50%;
  background-size: cover;
}

.link-block-8._3d6 {
  background-image: url('../images/image-10.jpg');
}

.link-block-9 {
  background-image: url('../images/image-10.jpg');
  background-position: 50%;
  background-size: cover;
}

.link-block-9._3d3 {
  background-image: url('../images/PetCentre01.jpg');
}

.link-block-10 {
  background-image: url('../images/image-2.jpg');
  background-position: 50%;
  background-size: cover;
  padding-top: 130px;
  padding-bottom: 130px;
}

.link-block-11 {
  background-image: url('../images/image-12.jpg');
  background-position: 50% 0;
  background-size: cover;
  padding-top: 130px;
  padding-bottom: 130px;
}

.lbbe {
  background-image: url('../images/image-13.jpg');
  background-position: 50%;
  background-size: cover;
}

.lbbe._3d6 {
  background-image: url('../images/image-10.jpg');
}

.lb2 {
  background-image: url('../images/image-2.jpg');
  background-position: 50%;
  background-size: cover;
  padding-top: 130px;
  padding-bottom: 130px;
}

.lbbc {
  background-image: url('../images/image-12.jpg');
  background-position: 50% 0;
  background-size: cover;
  padding-top: 130px;
  padding-bottom: 130px;
}

.lbb {
  background-image: url('../images/image-10.jpg');
  background-position: 50%;
  background-size: cover;
}

.lbb._3d3 {
  background-image: url('../images/image-13.jpg');
}

.lb {
  background-image: url('../images/image-4.jpg');
  background-position: 0%;
  background-size: cover;
}

.lbbd {
  background-image: url('../images/image-14.jpg');
  background-position: 50%;
  background-size: cover;
}

._3dgrid {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  border-radius: 0;
  grid-template: ". Area"
                 ". ."
                 / 1fr 1fr 1fr;
  grid-auto-flow: row;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.container-2 {
  width: 100%;
  max-width: 1140px;
  height: 100vh;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.link {
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid #00f;
}

.link-2 {
  border: 1px #000;
  text-decoration: none;
}

.link-2:hover {
  border: 1px #000;
  border-bottom: 1px solid #00f;
}

.image-38 {
  background-image: url('../images/image-1_1.png');
  background-position: 0 0;
  background-size: auto;
}

.link-block-12 {
  background-image: url('../images/image-1_1.png');
  background-position: 50%;
  background-size: cover;
}

.div-block-10 {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: block;
}

.image-39 {
  margin-top: 30px;
}

.video-3 {
  margin-top: auto;
}

.video-4, .youtube, .video-5, .youtube-2, .image-40 {
  margin-top: 30px;
}

.image-41 {
  width: 100vw;
  margin-top: auto;
  padding-right: 30px;
}

.image-42 {
  margin-top: auto;
}

.image-43, .image-44, .image-45, .image-46, .image-47, .image-48, .image-49, .image-50 {
  margin-top: 30px;
}

.code-embed {
  width: 600px;
  height: 600px;
  position: sticky;
}

.div-block-11 {
  height: 100vh;
}

.image-51 {
  margin-top: auto;
}

.image-52 {
  width: 100%;
}

.div-block-12 {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.youtube-3, .youtube-4, .youtube-5, .youtube-6 {
  margin-top: 30px;
}

.youtube-7 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.div-block-13 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.image-53, .image-54, .image-55, .image-56, .image-57 {
  margin-bottom: 30px;
}

.popup {
  background-color: #ffffffe6;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  display: flex;
  position: fixed;
  inset: 0%;
}

.code-embed-2 {
  width: 800px;
  height: 1024px;
}

.div-block-14 {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  flex-flow: row;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.div-block-15 {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  background-color: #fff0;
  flex-flow: column;
  grid-template: "."
                 "Area"
                 / 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  justify-content: space-between;
  place-items: start stretch;
  display: grid;
}

.div-block-16 {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.mask {
  padding-top: 30px;
  padding-bottom: 30px;
}

.mask.play {
  padding-top: 0;
}

.mask-2 {
  border-radius: 0;
  height: 100vh;
  padding-top: 30px;
  padding-bottom: 30px;
}

.mask-3 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.div-block-17 {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  display: grid;
}

.image-58, .image-59, .image-60, .image-61 {
  height: auto;
}

.fest {
  background-image: url('../images/image_7.png');
  background-position: 50%;
  background-size: cover;
  width: 100%;
  height: 300px;
}

.fest._02 {
  background-image: url('../images/image-3_8.png');
}

.fest._03 {
  background-image: url('../images/image-1_9.png');
}

.fest._04 {
  background-image: url('../images/image-4_7.png');
}

.fest._05 {
  background-image: url('../images/image-5_6.png');
}

.fest._06 {
  background-image: url('../images/image-6_6.png');
}

.fest._10 {
  background-image: url('../images/image-19_1.png');
  height: 500px;
}

.fest._07 {
  background-image: url('../images/image-22_1.png');
  height: 500px;
}

.fest._08 {
  background-image: url('../images/image-20_1.png');
}

.fest._09 {
  background-image: url('../images/image-21_1.png');
}

.image-62 {
  margin-bottom: 30px;
}

.image-63, .image-64 {
  padding-bottom: 30px;
}

.image-65, .image-66 {
  margin-bottom: 30px;
}

.div-block-18 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.image-67, .image-68 {
  margin-bottom: 30px;
}

.mask-4 {
  height: 100vh;
  margin-top: 0;
  padding: 30px 0;
}

.jswindoe {
  width: 100%;
  height: 100vh;
}

.code-embed-3 {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: flex;
}

.div-block-20 {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  display: flex;
}

.div-block-21 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  display: flex;
}

.div-block-22 {
  background-image: url('../images/image.png');
  background-position: 0 0;
  background-size: cover;
  width: 100%;
  height: 250px;
  margin-right: 30px;
}

.text-grid {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.html {
  width: auto;
  position: relative;
  inset: 0%;
}

.code-embed-4 {
  z-index: -1;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  inset: 0%;
}

.rednering {
  padding-left: 30px;
  padding-right: 30px;
}

.code-embed-5 {
  width: auto;
  height: 100vh;
}

.slide-copy {
  aspect-ratio: auto;
  object-fit: none;
  height: 100%;
  margin-top: 0;
  overflow: auto;
}

.iphone {
  border: 1px solid #00f;
  border-radius: 20px;
  width: 244px;
  height: 529px;
  margin-bottom: 30px;
  overflow: hidden;
}

.iphone.ipad {
  width: 461px;
  height: 703px;
}

.div-block-24 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.div-block-24._100 {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
  width: auto;
  height: auto;
}

.div-block-25 {
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
}

.code-embed-6 {
  border: 1px #000;
  justify-content: center;
  align-items: center;
  width: 90%;
  display: flex;
}

.mask-5, .slide-3 {
  height: auto;
}

.slider-2 {
  background-color: #ffb4b4;
  height: auto;
}

.left-arrow-2 {
  height: auto;
  position: absolute;
  inset: 0% auto auto 0%;
}

.right-arrow-2 {
  height: auto;
  position: absolute;
  inset: 0% 0% auto auto;
}

.tab-link-tab-1.w--current {
  background-color: #fff;
  border-right: 1px solid #00f;
  padding: 0 3px;
}

.tabs-menu {
  position: sticky;
  top: 30px;
}

.tab-pane-tab-1 {
  overflow: hidden;
}

.slider-3 {
  height: 100%;
}

.slide-4, .mask-6 {
  height: auto;
}

.div-block-26 {
  background-color: #fff;
  height: 100%;
}

.slider-4 {
  height: 100%;
}

.left-arrow-3 {
  z-index: auto;
  margin-left: 120px;
  position: fixed;
  inset: 0% auto 0% 0%;
}

.left {
  color: #00f;
  margin-left: 7px;
  font-size: 20px;
}

.right-arrow-3 {
  margin-right: -20px;
  position: fixed;
  inset: 0% 0% 0% auto;
}

.right {
  color: #00f;
  margin-left: auto;
  margin-right: 7px;
  font-size: 20px;
}

.slide-5 {
  height: auto;
}

.background-video {
  text-overflow: clip;
  background-color: #fff0;
  margin-top: 30px;
}

.div-block-27 {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0 0;
  background-size: auto;
  height: 400px;
}

@media screen and (max-width: 991px) {
  .heading-jumbo {
    font-size: 56px;
    line-height: 70px;
  }

  .project-overview-grid {
    grid-row-gap: 50px;
    text-align: center;
    grid-template: "."
                   "."
                   "."
                   / 1fr;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .menu {
    z-index: 100;
    background-color: #fff;
    flex-flow: row;
    position: sticky;
    inset: 0% 0% auto;
  }

  .inside._01.slider {
    width: 100%;
    height: auto;
  }

  .body {
    flex-flow: column;
  }

  .div-block.playground {
    width: auto;
  }

  .slider {
    padding-right: 30px;
  }

  .left-arrow {
    flex-flow: row;
    position: absolute;
  }

  .right-arrow {
    z-index: auto;
    background-color: #fff;
    inset: 0% 0% 0% auto;
  }

  .slide-2 {
    padding-right: 0;
  }

  .project-description-grid, .interactive-grid {
    grid-row-gap: 50px;
    text-align: center;
    flex-direction: column;
    grid-template: "."
                   "."
                   / 1fr;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .link-block-6 {
    padding-top: 550px;
    padding-bottom: 200px;
  }

  .d-rendering {
    grid-row-gap: 50px;
    text-align: center;
    flex-direction: column;
    grid-template: "."
                   "."
                   / 1fr;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .link-block-7, .link-block-8, .link-block-9, .link-block-10 {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .link-block-11 {
    padding-top: 400px;
    padding-bottom: 200px;
  }

  .lbbe, .lb2 {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .lbbc {
    padding-top: 400px;
    padding-bottom: 200px;
  }

  .lbb, .lb {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .lbbd {
    padding-top: 550px;
    padding-bottom: 200px;
  }

  ._3dgrid {
    grid-row-gap: 50px;
    text-align: center;
    flex-direction: column;
    grid-template: "."
                   "."
                   / 1fr;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .mask-4 {
    padding-right: 0;
  }

  .tab-link-tab-1 {
    padding-left: 0;
  }

  .tab-link-tab-1.w--current {
    background-color: #c8c8c800;
    border: 1px solid #00f;
    padding-left: 30px;
  }

  .left-arrow-3 {
    z-index: 1000;
    margin-left: -20px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    text-align: center;
  }

  .heading-jumbo {
    font-size: 50px;
    line-height: 64px;
  }

  .section {
    margin-left: 15px;
    margin-right: 15px;
  }

  .project-overview-grid {
    width: 80%;
    max-width: 470px;
    margin-top: 90px;
    margin-bottom: 95px;
  }

  .menu {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
    display: flex;
  }

  .inside {
    display: block;
  }

  .inside._01.slider {
    width: 100%;
  }

  .body {
    flex-flow: column;
  }

  .div-block-2 {
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .left-arrow {
    position: absolute;
    inset: 0% auto 0% 0%;
  }

  .right-arrow {
    inset: 0% 0% 0% auto;
  }

  .slide-2 {
    height: 100%;
  }

  .detail-image {
    margin-bottom: 15px;
  }

  .project-description-grid, .interactive-grid {
    width: 70%;
    max-width: 470px;
    margin-top: 90px;
    margin-bottom: 85px;
  }

  .link-block-6 {
    padding-top: 300px;
  }

  .d-rendering {
    width: 70%;
    max-width: 470px;
    margin-top: 90px;
    margin-bottom: 85px;
  }

  .link-block-7, .link-block-9, .link-block-10 {
    padding-top: 40px;
  }

  .link-block-11 {
    padding-top: 230px;
  }

  .lb2 {
    padding-top: 40px;
  }

  .lbbc {
    padding-top: 230px;
  }

  .lbb, .lb {
    padding-top: 40px;
  }

  .lbbd {
    padding-top: 300px;
  }

  ._3dgrid {
    width: 70%;
    max-width: 470px;
    margin-top: 90px;
    margin-bottom: 85px;
  }

  .container-2 {
    text-align: center;
  }

  .div-block-17, .div-block-18 {
    flex-flow: column;
    display: flex;
  }

  .mask-4 {
    height: 100vh;
  }
}

@media screen and (max-width: 479px) {
  .heading-jumbo {
    font-size: 36px;
    line-height: 48px;
  }

  .project-overview-grid {
    width: 100%;
    max-width: none;
  }

  .menu {
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .left-arrow {
    inset: 0% auto 0% 0%;
  }

  .right-arrow {
    inset: 0% 0% 0% auto;
  }

  .project-description-grid, .interactive-grid {
    width: 100%;
    max-width: none;
  }

  .link-block-6 {
    padding-top: 180px;
  }

  .d-rendering {
    width: 100%;
    max-width: none;
  }

  .link-block-7 {
    padding-top: 20px;
  }

  .link-block-9 {
    padding-top: 21px;
  }

  .link-block-10 {
    padding-top: 20px;
  }

  .link-block-11 {
    padding-top: 130px;
  }

  .lb2 {
    padding-top: 20px;
  }

  .lbbc {
    padding-top: 130px;
  }

  .lbb {
    padding-top: 21px;
  }

  .lb {
    padding-top: 20px;
  }

  .lbbd {
    padding-top: 180px;
  }

  ._3dgrid {
    width: 100%;
    max-width: none;
  }
}

#w-node-_8d2829b6-688d-c5ed-131e-c7a183e8f31f-7e7eb775, #w-node-_8d2829b6-688d-c5ed-131e-c7a183e8f324-7e7eb775, #w-node-_8d2829b6-688d-c5ed-131e-c7a183e8f329-7e7eb775, #w-node-_8d2829b6-688d-c5ed-131e-c7a183e8f32a-7e7eb775, #w-node-_8d2829b6-688d-c5ed-131e-c7a183e8f32e-7e7eb775, #w-node-_8d2829b6-688d-c5ed-131e-c7a183e8f32f-7e7eb775, #w-node-_8d2829b6-688d-c5ed-131e-c7a183e8f332-7e7eb775, #w-node-_8d2829b6-688d-c5ed-131e-c7a183e8f336-7e7eb775, #w-node-_725c695a-0d7a-e6ae-e697-6f557afd970c-7e7eb775, #w-node-_725c695a-0d7a-e6ae-e697-6f557afd9711-7e7eb775, #w-node-_725c695a-0d7a-e6ae-e697-6f557afd9718-7e7eb775, #w-node-_725c695a-0d7a-e6ae-e697-6f557afd971d-7e7eb775, #w-node-_725c695a-0d7a-e6ae-e697-6f557afd9722-7e7eb775, #w-node-_725c695a-0d7a-e6ae-e697-6f557afd9727-7e7eb775, #w-node-_725c695a-0d7a-e6ae-e697-6f557afd9728-7e7eb775, #w-node-e427b0eb-aee6-fbc3-9d79-e1c0300528dd-7e7eb775, #w-node-e427b0eb-aee6-fbc3-9d79-e1c0300528e2-7e7eb775, #w-node-e427b0eb-aee6-fbc3-9d79-e1c0300528e9-7e7eb775, #w-node-e427b0eb-aee6-fbc3-9d79-e1c0300528ee-7e7eb775, #w-node-e427b0eb-aee6-fbc3-9d79-e1c0300528f3-7e7eb775, #w-node-e427b0eb-aee6-fbc3-9d79-e1c0300528f8-7e7eb775, #w-node-e427b0eb-aee6-fbc3-9d79-e1c0300528f9-7e7eb775, #w-node-_3896e352-58d9-cfab-4652-f80cbc71648e-7e7eb775, #w-node-fd97a177-ba8d-29f3-31ce-1b484f87d67f-7e7eb775, #w-node-_73d839e1-98ba-fb29-3f39-82e48ecb8899-7e7eb775, #w-node-cf671d53-afe9-d772-c2a5-f2337447d230-7e7eb775, #w-node-b6f94791-a4ba-1edc-400f-352432e2ab41-7e7eb775, #w-node-_7e58eeb4-ea73-c970-9f7e-2c460295991f-7e7eb775, #w-node-_799901fe-9a70-a12e-7ed7-00fd96da2ede-7e7eb775, #w-node-_799901fe-9a70-a12e-7ed7-00fd96da2edf-7e7eb775, #w-node-_799901fe-9a70-a12e-7ed7-00fd96da2ee0-7e7eb775, #w-node-_799901fe-9a70-a12e-7ed7-00fd96da2ee1-7e7eb775 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_53b31f61-cf80-0949-de21-e5a992372cb0-bec285ea {
  grid-area: Area;
}

#w-node-_53b31f61-cf80-0949-de21-e5a992372cb4-bec285ea, #w-node-_53b31f61-cf80-0949-de21-e5a992372cb6-bec285ea, #w-node-_53b31f61-cf80-0949-de21-e5a992372cb8-bec285ea, #w-node-_53b31f61-cf80-0949-de21-e5a992372cba-bec285ea, #w-node-_53b31f61-cf80-0949-de21-e5a992372cbc-bec285ea, #w-node-_53b31f61-cf80-0949-de21-e5a992372cbe-bec285ea, #w-node-_53b31f61-cf80-0949-de21-e5a992372cc0-bec285ea, #w-node-d35b8168-59f6-edd1-835e-29af382a9a63-bec285ea, #w-node-d35b8168-59f6-edd1-835e-29af382a9a65-bec285ea, #w-node-d35b8168-59f6-edd1-835e-29af382a9a66-bec285ea, #w-node-d35b8168-59f6-edd1-835e-29af382a9a69-bec285ea, #w-node-d35b8168-59f6-edd1-835e-29af382a9a6a-bec285ea {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-d35b8168-59f6-edd1-835e-29af382a9a6b-bec285ea, #w-node-d35b8168-59f6-edd1-835e-29af382a9a6c-bec285ea {
  grid-area: Area;
}

#w-node-d35b8168-59f6-edd1-835e-29af382a9a6d-bec285ea, #w-node-d35b8168-59f6-edd1-835e-29af382a9a6e-bec285ea, #w-node-d35b8168-59f6-edd1-835e-29af382a9a6f-bec285ea, #w-node-d35b8168-59f6-edd1-835e-29af382a9a70-bec285ea, #w-node-d35b8168-59f6-edd1-835e-29af382a9a71-bec285ea, #w-node-d35b8168-59f6-edd1-835e-29af382a9a72-bec285ea, #w-node-d35b8168-59f6-edd1-835e-29af382a9a73-bec285ea, #w-node-d35b8168-59f6-edd1-835e-29af382a9a74-bec285ea {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_29ca318b-894c-e5d9-8281-a188309cd5f4-bec285ea {
  grid-area: Area;
}

#w-node-_29ca318b-894c-e5d9-8281-a188309cd5f6-bec285ea, #w-node-_29ca318b-894c-e5d9-8281-a188309cd5f7-bec285ea, #w-node-_29ca318b-894c-e5d9-8281-a188309cd5f8-bec285ea, #w-node-_29ca318b-894c-e5d9-8281-a188309cd5f9-bec285ea {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_6dd4a395-bfca-3919-3227-e867274f1236-ae5d3888 {
  grid-area: Area;
}

#w-node-_6dd4a395-bfca-3919-3227-e867274f123a-ae5d3888, #w-node-_6dd4a395-bfca-3919-3227-e867274f123c-ae5d3888, #w-node-_6dd4a395-bfca-3919-3227-e867274f123e-ae5d3888, #w-node-_6dd4a395-bfca-3919-3227-e867274f1240-ae5d3888, #w-node-ee8aac1e-63d0-cbec-fe74-27949f7f99d2-8cf7eb91, #w-node-ee8aac1e-63d0-cbec-fe74-27949f7f99d7-8cf7eb91, #w-node-ee8aac1e-63d0-cbec-fe74-27949f7f99dc-8cf7eb91, #w-node-ee8aac1e-63d0-cbec-fe74-27949f7f99dd-8cf7eb91, #w-node-ee8aac1e-63d0-cbec-fe74-27949f7f99e1-8cf7eb91, #w-node-ee8aac1e-63d0-cbec-fe74-27949f7f99e2-8cf7eb91, #w-node-ee8aac1e-63d0-cbec-fe74-27949f7f99e5-8cf7eb91, #w-node-ee8aac1e-63d0-cbec-fe74-27949f7f99e9-8cf7eb91, #w-node-ee8aac1e-63d0-cbec-fe74-27949f7f99f2-8cf7eb91, #w-node-ee8aac1e-63d0-cbec-fe74-27949f7f99f7-8cf7eb91, #w-node-ee8aac1e-63d0-cbec-fe74-27949f7f99fe-8cf7eb91, #w-node-ee8aac1e-63d0-cbec-fe74-27949f7f9a03-8cf7eb91, #w-node-ee8aac1e-63d0-cbec-fe74-27949f7f9a08-8cf7eb91, #w-node-ee8aac1e-63d0-cbec-fe74-27949f7f9a0d-8cf7eb91, #w-node-ee8aac1e-63d0-cbec-fe74-27949f7f9a0e-8cf7eb91, #w-node-ee8aac1e-63d0-cbec-fe74-27949f7f9a14-8cf7eb91, #w-node-ee8aac1e-63d0-cbec-fe74-27949f7f9a19-8cf7eb91, #w-node-ee8aac1e-63d0-cbec-fe74-27949f7f9a1e-8cf7eb91, #w-node-ee8aac1e-63d0-cbec-fe74-27949f7f9a23-8cf7eb91, #w-node-ee8aac1e-63d0-cbec-fe74-27949f7f9a28-8cf7eb91, #w-node-ee8aac1e-63d0-cbec-fe74-27949f7f9a2d-8cf7eb91, #w-node-ee8aac1e-63d0-cbec-fe74-27949f7f9a2e-8cf7eb91 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}


