.container {
  	width: 100%;
  	height: 852px;
  	position: relative;
  	background-color: #ebebeb;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	text-align: left;
  	font-size: 52px;
  	color: #000;
  	font-family: Inter;
}
.sec1 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 0px 16px;
  	gap: 2px;
}
.title {
  	align-self: stretch;
  	height: 98px;
  	position: relative;
}
.dinosaur {
  	position: absolute;
  	top: 36px;
  	left: 0px;
  	letter-spacing: -0.02em;
  	display: inline-block;
  	width: 218px;
  	height: 62px;
}
.subtext {
  	align-self: stretch;
  	height: 156px;
  	position: relative;
  	font-size: 20px;
}
.museum-explorer {
  	position: absolute;
  	top: 0.07px;
  	left: 4px;
  	letter-spacing: -0.02em;
}
.sec2 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	padding: 8px 16px;
}
.ed-title {
  	align-self: stretch;
  	height: 134px;
  	position: relative;
}
.estimated-distance {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	letter-spacing: -0.02em;
  	display: inline-block;
  	width: 383px;
  	height: 104px;
  	flex-shrink: 0;
}
.scanbutton1-parent {
  	align-self: stretch;
  	display: flex;
  	align-items: flex-start;
  	justify-content: center;
  	gap: 32px;
  	text-align: center;
  	font-size: 20px;
}
.scanbutton1 {
  	height: 170px;
  	width: 170px;
  	position: relative;
}
.scanbutton {
  	position: absolute;
  	top: 0.1px;
  	left: 0.24px;
  	border-radius: 50%;
  	background-color: #fb9627;
  	width: 169.8px;
  	height: 169.8px;
}
.connected {
position: absolute;
top: 72.97px;
left: -1px;
letter-spacing: -0.02em;
display: inline-block;
width: 171px;

background: none;
border: none;
  
}
.distance {
  	height: 170px;
  	width: 170px;
  	position: relative;
  	font-size: 64px;
}
.scan {
  	position: absolute;
  	top: 0.1px;
  	left: 0.24px;
  	border-radius: 50%;
  	background-color: #fff;
  	width: 169.8px;
  	height: 169.8px;
}
.distancelabel {
  	position: absolute;
  	top: 46.97px;
  	left: 0.24px;
  	letter-spacing: -0.02em;
  	display: inline-block;
  	width: 160.5px;
  	height: 76px;
}
.sec3 {
  	align-self: stretch;
  	flex: 1;
  	display: flex;
  	align-items: flex-start;
  	justify-content: center;
  	padding: 32px 16px;
}
.state-wrapper {
  	align-self: stretch;
  	flex: 1;
  	border-radius: 22px;
  	background-color: #bbb;
  	display: flex;
  	align-items: flex-end;
  	padding: 20px 9px;
  	box-sizing: border-box;
  	max-width: 100%;
}
.state {
  	height: 102.3px;
  	width: 214.3px;
  	position: relative;
}
.state2 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	letter-spacing: -0.02em;
  	line-height: 60px;
  	display: inline-block;
  	width: 214.3px;
  	height: 102.3px;
}

